.btn {
	cursor: pointer;
}
body {
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	display: flex;
	font-family: sans-serif;
	background-color: #333366;
	color: #ffffff;
	transition: color 0.5s ease-in-out;
	-webkit-text-stroke-width: 0.3px;
	-webkit-text-stroke-color: black;
}

.js-clock {
	font-size: 72px;
}

.greetings {
	font-size: 60px;
}
.clicked {
	color: #201c1c;
}

.form {
	display: none;
}
.todo__write--container,
.name__write--container {
	padding: 10px;
	margin: 10px;
	width: 900px;
	height: 20px;
	border: none;
	border-bottom: 3px solid white;
	opacity: 0.8;
	font-size: 20px;
}

.js-toDoList {
	font-size: 20px;
}

.showing {
	display: block;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.bgImg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
	animation: fadeIn 0.5s linear;
}

.js-weather {
	color: aliceblue;
	float: right;
	font-size: 30px;
	font-weight: 300;
}

.js-toDoList {
	list-style-type: decimal;
	font-size: 40px;
}
