.btn {
	cursor: pointer;
}
body {
	background-color: #333366;

	color: #ffffff;
	transition: color 0.5s ease-in-out;
	-webkit-text-stroke-width: 0.3px;
	-webkit-text-stroke-color: black;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.clicked {
	color: #201c1c;
}

.form,
.greetings {
	display: none;
}

.showing {
	display: block;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.bgImg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
	animation: fadeIn 0.5s linear;
}
